{
    "admin_password": "passwordnyabenerya",
    "battleship_password": "password1",
    "suwi_password": "password2",
    "tiup_bola_password": "password3",
    "musical_chair_password": "password4",
    "uno_flip_password": "password5",
    "uno_jenga_password": "password6",
    "picpacpong_password": "password7",
    "piramid_password": "password8",
    "angkat_pingpong_password": "password9",
    "kartu_memori_password": "password10"
}